body {
    background: linear-gradient(135deg, #f4f7fb, #e9eef5);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #1f2937;
}

.container {
    max-width: 1100px;
}

/* CARD PRINCIPAL */
#vehiculoDetalles {
    border-radius: 20px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);
    background: #1f1f1f;
    padding: 30px;
}

.detalle-vehiculo{
    position: relative;
}

.btn-volver{
    position: absolute;
    top: 15px;
    right: 15px;

    border: none;
    width: 38px;
    height: 38px;
    border-radius: 8px;

    background: linear-gradient(135deg, #1f1c2c, #928dab);
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}


/* IMAGEN */
.detalle-imagen-contenedor {
    width: 100%;
    overflow: hidden;
    border-radius: 18px;
    background: #f8fafc;
    border: 1px solid #e5e7eb;
    margin-bottom: 28px;
}

.detalle-imagen {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    display: block;
}

/* GRID DE INFO */
.detalle-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 10px;
}

/* SECCIONES */
.detalle-seccion{
    background:#1f1f1f;
    border:1px solid #e5e7eb;
    border-radius:16px;
    padding:22px;
    transition: all 0.2s ease;
}

.detalle-seccion:hover{
    
    background: #1f1f1f;
}

/* TITULO SECCION */
.detalle-subtitulo{
    font-size:1.1rem;
    font-weight:800;
    margin-bottom:14px;
    color: #c0c3ca;
}

/* TEXTO */
.detalle-seccion p {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #c0c3ca;
}

.detalle-seccion strong {
    color: #c0c3ca;
}

.detalle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.titulo-card {
    font-size: 2rem;
    font-weight: 700;
    color: #c0c3ca;
    margin: 0;

}

.detalle-precio {
    font-size: 2rem;
    font-weight: 700;
    color:#c0c3ca;
    white-space: nowrap;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

/* RESPONSIVE */
@media (max-width: 768px) {

    #vehiculoDetalles {
        padding: 18px;
    }

    .detalle-titulo {
        font-size: 1.7rem;
    }

    .detalle-precio {
        font-size: 1.4rem;
    }

    .detalle-imagen {
        max-height: 280px;
    }

    .detalle-grid{
        grid-template-columns:1fr;
    }

    .detalle-seccion {
        padding: 16px;
    }
}